    * {
        font-family: 'Kavivanar';
        font-size: 16px;
        box-sizing: border-box;
        /* con questo le tre caselle mi occuperanno sempre il 30% anche se diminuisco la finestra */
    }
    
    p {
        text-decoration-color: black;
    }
    
    img {
        width: 100%;
        max-width: 900px;
        height: auto;
    }
    
    form {
        border: 1px solid gray;
        padding: 30px 20px;
        border-radius: 30px;
    }
    
    .formItem {
        margin-bottom: 20px;
    }
    
    form label {
        width: 20%;
        display: inline-block;
        font-weight: 700;
    }
    
    .formItem input,
    .formItem select {
        width: 70%;
    }
    
    form label {
        width: 100px;
        display: inline-block;
    }
    
    header {
        margin-bottom: 40px;
    }
    
    .box {
        border-color: blue;
        border-style: dotted;
        display: inline-block;
        width: 30%;
        padding: 10px;
        margin: auto;
        border: 2px solid red;
        border-top-color: springgreen;
    }
    
    body {
        background-image: url(../img/blu.jpg)
    }
    
    ul,
    li {
        padding: 0;
    }
    
    nav li {
        display: inline-block;
        width: 30%;
        padding: 10px;
        border: 1px solid gray;
    }
    
    .bottone {
        border: 1px solid rgb(214, 74, 9);
        background-color: #11e281;
        color: rgb(253, 251, 255);
        /* transition: background-color 5s; */
        /* transition: all 4s ease-in-out; */
        transition: all 2s ease-in-out;
        width: 200px;
    }
    
    .bottone_large {
        width: 300px;
        font-size: 20px;
        color: red;
    }
    /* quando il mause va sopra  */
    
    .bottone:hover {
        background-color: #11dbe2;
        color: rgb(226, 43, 43);
        cursor: pointer;
        width: 350px;
    }
    
    @media(max-width:600px) {
        body {
            background: red;
        }
        .bottone {
            width: 100%;
        }
    }