body {
    padding-bottom: 40px;
}

#myMenu {
    margin-bottom: 40px;
}

#myMenu .active .nav-link {
    cursor: default !important;
}

.box {
    border: 1px solid gray;
    padding: 20px;
}

.blu {
    background-color: blue;
}

.orange {
    background-color: orange;
}


/* #emptyContent {} */

.start #usersTable {
    display: none;
}

.start #loadingBar {
    display: none;
}

input::placeholder {
    color: red!important;
}


/* input:hover{} */

.inputFocus {
    color: green;
    background: rgb(165, 159, 165);
    border: 5px solid #27a527;
}